@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import './assets/css/now-ui-kit.min.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --primaryColor: #154319;
  --whiteColor: #ffffff;
  --blackColor: #191918;
  --darkGreyColor: #495242;
  --lightGreyColor: #bdbdbd;
  --successColor: #48c774;
  --infoColor: #3298dc;
  --warningColor: #ffdd57;
  --dangerColor: #f14668;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.35px;
  color: var(--blackColor);
  background-color: var(--whiteColor);
}

a {
  text-decoration: none;
}

input,
button {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.list-unstyled {
  list-style-type: none;
}

#app {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.simplebar-scroller .simplebar-wrapper {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
}
