@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --primaryColor: #154319;
  --whiteColor: #f6f6f6;
  --blackColor: #191918;
  --darkGreyColor: #495242;
  --lightGreyColor: #aaaaa9;
  --successColor: #28a745;
  --infoColor: #17a2b8;
  --warningColor: #ffc107;
  --dangerColor: #dc3545;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}
